*{
    font-size: 25px;
}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 30px;
    background-color:cadetblue;
}
h1{
    font-size: 50px;
}
#container1{
    width: 80%;
    display: flex;
    display: inline-flex;
    margin: 50px;
}

#main-container input{
    width: 85%;
    padding: 10px;
}
#main-container div{
    margin-top: 10px;
}
#main-container button{

    font-size: 20px;
    padding: px;
}
#todolist{

}